$error: #e51e0e;
$white: #fff;
$gray: #ccc;
$grey: #555;

.user {
  display: flex;
  justify-content: center;
}
.text-center {
  text-align: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],input[type='password'],
input[type='email'] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: $grey;
  background-color: $white;
  background-image: none;
  border: 1px solid $gray;
  border-radius: 4px;
  margin-bottom: 20px;
}

.error {
  color: $error;
}